@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be+Vietnam+Pro", sans-serif, serif;
}

body {
  width: 480px;
  /* background-color: #fafafa; */
}

/* --- header ----------------------- */

.header-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.header-logo {
  padding-right: 150px;
}

.header-navbar {
  color: #242e52;
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
}

.header-navbar ul {
  display: flex;
  list-style: none;
  padding-right: 50px;
}

.header-navbar li {
  color: #242e52;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* --- player container --------------------------- */


.player-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-image-main {
  padding-bottom: 40px;
  width: 400px;
}

.player-text-title {
  color: #232c50;
  font-style: normal;
  font-weight: 700;
  font-style: 50px;
  padding-top: 40px;
  text-transform: capitalize;
  text-align: end;
  width: 400px;
}

.player-text-title #upercase {
  text-transform: uppercase;
}

.player-text-title span {
  text-transform: lowercase;
}

.player-text-subtext {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-style: 16.56px;
  line-height: 26px;
  padding-top: 20px;
  text-transform: capitalize;
  text-align: end;
}

#subtext-second-line {
  color: #000000;
  font-weight: 500;
  font-style: 16.56px;
  text-transform: lowercase;
  padding-bottom: 20px;
}
.player-text-button {
  background-color: #8b48bf;
  border:none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  height: 44px;
  width: 134px;
}

/* --- info-banner -------------------------------------- */

.info-banner {
  padding-top: 40px;
  width: 100%;
}

.info-banner-header {
  align-items: flex-start;
  background-color: #3cddf3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.info-banner section {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  width: 100%;
}

.info-banner-header h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: start;
  padding: 30px 0px 50px 0px;
}

.info-banner-header p {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  line-height: 24.8px;
  padding: 10px 0px 20px 0px;
}

.info-banner section {
  padding: 60px 0px;
}

.info-banner-title-container {
  display: flex;
  justify-content: end;
}

.info-banner-titles {
  align-items: center;
  background-color: rgba(139, 72, 191, 0.3);
  border-radius: 50px 0px 0px 50px;
  color: #323851;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  justify-content: flex-start;
  height: 43px;
  text-align: center;
  width: 446px;
}

.info-banner-titles span {
  align-items: center;
  background-color: #8b48bf;
  border-radius: 50px 50px 50px 50px;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 43px;
  margin-right: 20px;
  justify-content: center;
  width: 70px;
}

.info-banner-article-p {
  color: #b3b2b7;
  font-size: 16.3px;
  font-weight: 500;
  text-align: start;
  line-height: 23px;
  padding: 20px 10px 30px 45px;
}

/* --- players section ----------------------------------- */

.players-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 446px;
}

.players-container h2 {
  color: 242e53;
  font-weight: 700;
  font-size: 39px;
  line-height: 61px;
}

/* --- players cards ------------------------------------- */

.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.players-container-title {
  font-size: 39, 21px;
  font-weight: 700;
  padding-bottom: 70px;
}

.player-card {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  width: 446px;
}

.player-card h4 {
  color: #3f4868;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.player-card p {
  color: #b9b9c1;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 20px 5px;
  text-align: center;
  width: 403px;
}
.player-info-button {
  align-items: center;
  border:none;
  background-color: #8b48bf;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  height: 44px;
  justify-content: center;
  margin: 50px 0px;
  width: 134px;
}

.avatar-image {
  position: relative;
  top: -30px;
}

/* --- end banner ---------------------------------------*/

.end-banner {
  align-items: center;
  background-color: #3cddf3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 80px;
}

.end-banner h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.005em;
  text-align: center;
}

.end-banner button {
  background-color: #232c50;
  border:none;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  font-size: 13.2px;
  font-weight: 500;
  height: 44px;
  width: 134px;

}

/* --- footer ------------------------------------------------- */
footer {
  background-color: #1e1e26;
}
footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#update {
  background-color: #ffffff;
  border-radius: 50px;
  height: 44px;
  padding: 10px;
  width: 308px;
}

#update-button {
  background-color: #8b48bf;
  border:none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 42px;
  margin-left: 5px;
  width: 65px;
  text-transform: capitalize;
  
}

.footer-subscribe-form {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  width: 100%;
}

.footer-text-list {
  display: flex;
  justify-content: space-around;
}

.footer-ul-group-I,
.footer-ul-group-II {
  color: #ffffff;
  cursor: pointer;
  display: flex;
  text-transform: capitalize;
}
.footer-ul-group-I li,
.footer-ul-group-II li {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

footer ul {
  list-style: none;
}

.social-media ul {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
}

.footer-logo,
.copyright-warning {
  color: #8c8c94;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.footer-logo {
  color: #8c8c94;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

/* efectos - animaciones */

button, .end-banner-button,
li {
  transition: 0.5s;
}

button:hover {
  transform: scale(1.1);
  background-color: rgba(139, 72, 191, 0.7);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
li:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.end-banner-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.img-container:hover {filter: saturate(180%);}

/* ------------------------------  mobile first (480px) --------------------------- */

.header-navbar,
#desktop-version-p,
#desktop-version-h2,
#sanyo,
#navarro {
  display: none;
}

/* -------------------------------    desktop (1440)   -----------------------------------*/

@media (min-width: 481px) {
  body {
    width: 1440px;
  }

  /* header */

  .header-navbar {
    display: flex;
    flex-direction: row;
  }

  .hamburguer-menu {
    display: none;
  }

  /* player-container */

  .player-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 70px
  }

  .info-banner-header {
    align-items: center;
    background-color: #8b48bf;
    flex-direction: row;
    height: 168px;
    justify-content: space-around;
  }

  .info-banner h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
  }

  .info-banner section {
    padding: 40px 120px;
  }
  #mobile-version-h2 {
    display: none;
  }

  #mobile-version-p {
    display: none;
  }

  #desktop-version-p {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    width: 450px;
  }

  #desktop-version-h2 {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    width: 450px;
  }

  /* info section  */

  .info-banner-title-container,
  .info-banner-article-p {
    width: 480px;
  }

  .info-banner-titles {
    background-color: #fafafa;
    position: relative;
    left: -85px;
  }
  .info-banner-titles span {
    margin-right: 20px;
  }

  .info-banner section {
    background-color: #fafafa;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
    width: 1440px;
  }

  .info-banner-article-p {
    padding: 5px 0px 0px 30px;
    margin-left: 10px;
  }

  /* player section */

  #sanyo,
  #lebron,
  #navarro {
    display: flex;
    margin: 0px;
  }

  .players-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 100px 0px;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .player-card {
    height: 219px;
    width: 445px;
  }

  .player-card p {
    padding: 20px 20px 20px 20px;
  }

  /* end banner */

  .end-banner {
    background-color: #8b48bf;
    flex-direction: row;
    height: 224px;
    justify-content: space-between;
    width: 100%;
  }

  .end-banner br {
    display: none;
  }

  .end-banner h2 {
    width: 500px;
  }

  .end-banner button {
    background-color: #ffffff;
    color: #8b48bf;
    margin-right: 70px;
  }

  /* --- footer --- */

  .footer-container {
    align-items: initial;
    display: flex;
    flex-direction: row-reverse;
    height: 247px;
    justify-content: space-evenly;
    width: 100%;
  }

  .copyright-warning {
    display: flex;
    left: 1100px;
    position: absolute;
    top: 2280px;
    width: 214px;
  }

  .footer-social-logo-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-left: 40px;
  }

  .footer-subscribe-form {
    padding: 60px 0px;
    width: 500px;
  }

  .footer-text-list {
    align-self: center;
    padding-top: 40px;
  }

  /* footer subscribe input */

  #update {
    width: 200px;
  }

  .footer-text-list {
    gap: 200px;
    padding-left: 200px;
  }

  .social-media li {
    padding: 8px;
  }

  .social-media {
    padding-left: 70px;
  }
}
